/* 
  General ViewPort Styling 
*/
.container-fluid {
  background: rgba(207,191,150, 0.7); 
  height: 100vh; 
}

.view-container {
  background: rgba(214,214,214, 0.8); 
  border: 2px grey solid; 
  border-radius: 6px; 
  margin: auto; 
  height: 50vh; 
}

/* 
  Title and Header Styling 
*/
.container-header {
  margin-top: 10px; 
}

.header {
  background: rgba(127,147,182, 0.6); 
  border-radius: 8px; 
  font-family: 'K2D', sans-serif;
  padding: 20px; 
  text-align: left; 
}

.ft-icon {
  padding: 8px; 
}

